extends layout

block content
  .inner
    form.form(action="/register" method="POST")
      h2 Register
      label(for="name") Name
      input(type="text" name="name")
      label(for="name") Email
      input(type="email" name="email")
      label(for="password") Password
      input(type="password" name="password")
      label(for="confirm-password") Confirm Password
      input(type="password" name="confirm-password")
      input.button(type="submit" value="Register")
